.top-border-only {
    -fx-border-color: rgb(220, 220, 220) transparent transparent transparent;
    -fx-border-width: 1px 0 0 0;
}

.initiate-button:hover {
    -fx-background-color: rgb(220,220,220);
    -fx-background-radius: 5px;
}

.bottom-text-vbox {
    -fx-background-color: white;
}

:highlighted {
    -fx-background-color: rgb(220,220,220);
    -fx-background-radius: 5px;
}