.menu-bar-hbox-container {
    -fx-border-color: transparent transparent rgb(220, 220, 220) transparent;
    -fx-border-width: 0 0 1px 0;
}

MenuBar {
    -fx-background-color: transparent;
}

#start-stackpane-button:hover, #stop-stackpane-button:hover {
    -fx-background-color: rgb(220, 220, 220);
    -fx-background-radius: 5px;
}

