ScrollPane {
    -fx-background-color: transparent; /* Set your desired background color */
    -fx-background-insets: 0, 0, 0, 0;
}

.focusable-button:focused {
    -fx-border-color: red;
}

.stackpane-button {
    -fx-border-color: black;
    -fx-border-radius: 3;
}